 .div{
     height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
        }
.h1{
    text-align: center;
    background-color: red;
    width: fit-content;
    padding: 20px;
    margin: 0 auto;
    color: white;
   }